<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RbSwift iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>RbSwift macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>RbSwiftTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>724874F61E7CF813007984FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7248750F1E7CF843007984FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72D2EE401E960152004CE666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72D2EEE01E96170E004CE666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72D2EEED1E961716004CE666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72D2EF661E961842004CE666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
